

.products__listing{

	&.section__1{

		.section__head{ margin-top: 35px; }

		.products__grid{
			&:last-child{
				.section__divider{ display: none; }
			}
			
			&__title{ font-size: 18px; }

			&_row{
				@media all and (max-width: 610px) and (orientation: portrait) {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}

			&_column{
				min-width: 250px;
				@media all and (max-width: 610px) {
					width: 300px;
				}
			}
		}
		

		.card{
		    position: relative;
		    margin-top: 35px;
		    background-color: #FFFFFF;
		    border-radius: 2px;
		    overflow: hidden;
		    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		    transition: box-shadow .25s;

		    &:hover{
		    	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

				.card__link{
					a{
						color: $btn-primary-bg;
					}
					i{
						color: $btn-primary-bg;
						left: 5px;
					}
				}
		    }

		    &__image{
		    	img{
		    		display: block;
				    border-radius: 2px 2px 0 0;
				    position: relative;
				    left: 0;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    width: 100%;
				    cursor: pointer;

				    @media (min-width: 768px) and (max-width: 1200px){max-height: 283px;}
				    /* @media (min-width: 1200px){height: 283px;} */
		    	}
		    }

		    &__content{
	    	    padding: 10px 10px;
    			border-radius: 0 0 2px 2px;
    			display: flex;
    			align-items: center;

    			&__title{
    				font-size: 16px;
				    cursor: pointer;

    				i{ 
    					float: right; 
    					margin-left: 5px;
    					width: 20px;
					    text-align: center;
					    line-height: 20px;
					    cursor: pointer;
    				}
    			}

    			&__desc{
    				margin: 10px 0 0 0;
    				font-size: 13px;
    			}
		    }
			
			&__link{
				padding: 5px 10px;
				text-align: right;
			    border-top: 1px solid #f0f0f0;
			    transition: color 0.25s ease-in-out;

			    a{ 
			    	text-decoration: none;
			    	font-size: 14px;
					i{
						color: white;
						font-size: 18px;
						transition: 0.3s ease-in-out;
						position: relative;
						top: 2px;
						left:0;
					}
			    }
			}
		}

		.section__divider{ margin: 40px 0; }
	}
}